body{
    background: #999999;
}

#data{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    align-items: center;
} 

#section{
    background: #3d4c41;
    border-radius: 15px 15px 0px 0px;
    border: none;
    color:#e6e6e6;
    padding: 10px;
    font-weight: 600;
}

#shortUrl{
    color: #e6e6e6;
}

#abstract{
    display: grid;
    align-items: center;
    justify-items: center;
}

article{
    display: grid;
    grid-template-rows: auto auto auto 1fr auto auto;
    background:  #e6e6e6;
    border: 3px solid #3d4c41;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 66px 8px rgba(0,0,0,0.3);
}

img{
    width: 100%;
}

button{
    background: #3d4c41;
    border-radius: 0px 0px 15px 15px;
    border: none;
    color:#fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #data{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    #data{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px
    }
   article{
    text-align: center;
    justify-content: center;
   }

}

