body{
    background: #f7f2db;
}

#data{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
} 


article{
    
    background: #f5ebbd;
    border: none;
    box-shadow: 2px 2px 6px 8px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#text{
    padding: 0 20px 20px;
    display: grid;
    grid-template-rows: repeat(2, 90px);

}


button{
    background: #ef6f6c;
    border-radius: 20px;
    border: none;
    color:#fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #data{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    #data{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px
    }
   article{
    text-align: center;
    justify-content: center;
   }

}

